.footer{
    width: 100%;
    height: 200px;
    background-color: #213555;
    color: #fff;
}
.footLink{
    text-decoration: none !important;
    color: #fff;
}
.footlinks{
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.thanks{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .footerMail{
     font-size:15px;
}
}