*{
    font-family: 'Ubuntu', sans-serif;
}
.scroll-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  .scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
    #go-top-button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  #go-top-button:hover {
    background-color: #0056b3;
  }
.fa-circle-up{
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
    #go-top-button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 120px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50%;
  }
}
